/* make input box flex box*/

.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.inputColumn1 {
  flex: 2;
}
.inputColumn2 {
  flex: 5;
}
.inputColumn3 {
  flex: 2;
}

/* adjust input box */

.inputColumn2 input {
  border-radius: 23.5px;
  padding: 10px;
  font-family: 'helvetica';
  color: black;
  font-size: 13px;
  flex-grow: 1;
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 90%;
}

/* change input box */

.inputColumn3 button {
  background-color: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

svg.addButton {
  fill: rgb(255, 133, 153);
  transition: fill 0.2s ease-in-out;
  height: 150px;
}

.addButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputForm {
  padding: 5px;
  font-family: 'helvetica';
  color: black;
  font-size: 13px;
  flex-grow: 1;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #fff;
}

@media (max-width: 767px) {
  .inputContainer {
    padding-left: 0px !important;
    flex-direction: column;
    align-items: center;
  }

  .inputColumn1,
  .inputColumn2,
  .inputColumn3 {
    flex: 1;
    width: 100%;
    text-align: center;
  }

  svg.addButton {
    fill: rgb(255, 133, 153);
    transition: fill 0.2s ease-in-out;
    height: 130px !important;
    background: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
  }

  svg.addButton:hover {
    fill: rgb(212, 113, 129);
  }

  svg.addButton:active {
    fill: rgb(236, 74, 101);
  }

  svg.addButton:disabled {
    fill: grey;
    pointer-events: none;
  }
}

svg.addButton {
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: none;
  transform: none;
  box-shadow: none;
  height: 70px;
}

svg.addButton:hover {
  fill: rgb(212, 113, 129);
}

svg.addButton:active {
  fill: rgb(236, 74, 101);
}

svg.addButton:disabled {
  fill: grey;
  pointer-events: none;
}
