svg.addButton {
  fill: pink;
  transition: fill 0.2s ease-in-out;
}

.addButton {
  background: none;
  border: none;
  padding: 20px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: none;
  transform: none;
  box-shadow: none;
}

svg.addButton:hover {
  fill: rgb(244, 117, 138);
}
