.addIcon {
    fill: pink; /* Default color */
  }
  
  .addButton {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
  }
  
  .addButton:disabled + .svg-container .addIcon {
    fill: grey; /* Change the fill color when the button is disabled */
  }
  
  .addButton:hover + .svg-container .addIcon { 
    fill: grey; /* Change the fill color on hover */
  }
  