/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
.ListItem {
    font-family: 'Nunito', sans-serif;
    color: #666;
    font-size: 13px;
    margin: 0; 
    background-color: rgb(243, 238, 238);
}
  

.checked {
    text-decoration: line-through;
  } */
