/* navigation container */

.todoNavigationLink {
  text-decoration: none;
}

.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hamburger menu area */
.leftColumn {
  flex-grow: 15;
}

/* user profile area */
.rightColumn {
  flex-grow: 1;
}
