.toggleContainer {
}

.toggleButton a {
  text-decoration: none;
  color: inherit;
}

.toggleButton {
  letter-spacing: 2px;
  text-decoration: none;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 20px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  background: rgb(243, 117, 138);
  font-size: 13px;
  color: black;
  text-transform: capitalize;
  font-family: 'helvetica';
  font-weight: bold;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.toggleButton:hover {
  background: rgb(190, 91, 107);
}
